
body {
    margin: 0px;
    padding:0px;
    overflow: hidden;
   /* background-image: url('../img/inicio.png');*/
    
}


row {
    clear: left;
}
label {
   
    font-family: verdana;
    color: #fff;
    text-shadow: #ccc 1px 0px 1px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    width: 250px;
}
label {
   
    font-family: verdana;
    color: #fff;
    text-shadow: #ccc 1px 0px 1px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    width: 250px;
}
 .errorMessage {
   
    display: inline-block;
    /* color: #469df5; */
    font-family: helvetica;
    font-size: 16px;
    /* font-weight: bold; */
    /* padding: 4px 4px; */
    text-decoration: none;
    text-shadow: #f00 1px 0px 1px;
    color: red;
   
}