div.growlUI {
    position: fixed;
    bottom: 100;
    background-color:#000;
    right: 0; background: url('../img/aviso.png') no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
     background-color:#000;
    color: greenyellow; padding: 5px 5px 5px 75px; text-align: left
}