.img1-holder {
	overflow: auto;
}
.img1-item {
	overflow: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 0px solid gray;
	padding: 3px;
	background-color: #fff;	
}
.img1-control img.delete {
	cursor: pointer;
	float: right;
}
.img1-control img.wait {
	display: none;
}

